<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Retrobox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AEA629701CB3B8AB00BD05A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEA629841CB3B8AB00BD05A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEA6298F1CB3B8AB00BD05A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
